.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-lg);
  position: relative;
  scroll-snap-align: start;
}

.inner {
  max-width: 960px;
  width: 100%;
}

@media (min-width: 1280px) {
  .section {
    padding: var(--space-xl) var(--space-lg);
  }

  .inner {
    max-width: 1100px;
  }
}

@media (min-width: 1920px) {
  .inner {
    max-width: 1400px;
  }
}
